[Unit]
Description=Comitup Audio Demonstration
After=comitup.service

[Service]
ExecStart=/usr/local/bin/comitup-demo

[Install]
WantedBy=multi-user.target
